<div class="container mt-4">
  <h2>Dashboard</h2>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card p-3 text-center bg-info text-white">
        <h4>Total Users</h4>
        <h2>{{ totalUsers }}</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 text-center bg-success text-white">
        <h4>Total Halls</h4>
        <h2>{{ totalHalls }}</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 text-center bg-warning text-white">
        <h4>Total Bookings</h4>
        <h2>{{ totalBookings }}</h2>
      </div>
    </div>
  </div>
</div>
